<% @pokemons.each do |pokemon| %>
<div>
	<h1 class="h1">Name: <%= pokemon.name %></h1>
	<!-- Total goes here -->
</div>
<!-- Delete button -->
<!-- Delete method -->
	<form action="/pokemon/<%=pokemon.id%>" method="post">
	  <div style="margin:0;padding:0">
	    <input name="_method" type="hidden" value="DELETE" />
	    <button id="singlebutton" name="singlebutton" class="singlebutton">Remove</button>
	  </div>
	</form>
	<form action="/pokemon/<%=pokemon.id%>/edit" method="GET">
	  <div style="margin:0;padding:0">
	   <button class="singlebutton">Update </button>
	  </div>
	</form>

<% end %>