<h1>Home</h1>
<<<<<<< HEAD
<form action="action_page.php" class="form">
  <fieldset>
    <legend>Evolve Counter:</legend>
    Name your pokemon:<br>
    <input type="text" name="name of pokemon" value="">
    <br>
    # of Candies:<br>
    <input type="number" name="number of candies" value="">
    <br>
    # of Pokemon:<br>
    <input type="number" name="number of pokemon" value="">
    <br>
    Evolve amount:<br>
    <input type="number" name="evolve_amount" value="">
    <br><br>
    <input type="submit" value="Min/Max Evolve" class="btn">
  </fieldset>
</form>
=======
>>>>>>> 9bc239b07db076ab5837dfb847b6db2885e75361
