
<!DOCTYPE html>
<html>
<head>
  <title>Pokemon Evolve Counter</title>
  <!-- Haven't built reset.css -->
  <link rel="stylesheet" type="text/css" href="/css/reset.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="/">PE</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <%= yield %>
  </main>
  <footer>
  </footer>
</body>
</html>