<<<<<<< HEAD
=======

>>>>>>> 9bc239b07db076ab5837dfb847b6db2885e75361
<!DOCTYPE html>
<html>
<head>
  <title>Pokemon Evolve Counter</title>
  <!-- Haven't built reset.css -->
  <link rel="stylesheet" type="text/css" href="/css/reset.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
  <header>
    <nav>
<<<<<<< HEAD
=======
      <ul>
        <li><a href="/">PE</a></li>
      </ul>
>>>>>>> 9bc239b07db076ab5837dfb847b6db2885e75361
    </nav>
  </header>
  <main>
    <%= yield %>
<<<<<<< HEAD
          <ul>
              <li><a href="/pokemon/new">Create a pokemon</a></li>
         </ul>       
=======
>>>>>>> 9bc239b07db076ab5837dfb847b6db2885e75361
  </main>
  <footer>
  </footer>
</body>
</html>