<!DOCTYPE html>
<html>
<head>
  <title>Pokemon Evolve Counter</title>
  <!-- Haven't built reset.css -->
  <link rel="stylesheet" type="text/css" href="/css/reset.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
  <header>
    <nav>
    </nav>
  </header>
  <main>
    <%= yield %>
          <ul>
              <li><a href="/pokemon/new">Create a pokemon</a></li>
         </ul>       
  </main>
  <footer>
  </footer>
</body>
</html>