.mymodal {
	/*need to center the form*/
}

body {
	background-image: url("../pictures/pokemonwallpaper.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.h1 {
	text-align: center;
}

.selector-for-some-widget {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}